<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669721212063-mlbun4ct9q91aaqolf713dhi8krl0c4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669721212063-mlbun4ct9q91aaqolf713dhi8krl0c4s</string>
	<key>API_KEY</key>
	<string>AIzaSyBs6rVL0YjDL0QuXVOglNXrIq4wy2v5OFc</string>
	<key>GCM_SENDER_ID</key>
	<string>669721212063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aman.weatherwizard</string>
	<key>PROJECT_ID</key>
	<string>weather-wizard-80410</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-wizard-80410.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669721212063:ios:414130fd3b5a3910f81eaa</string>
	<key>DATABASE_URL</key>
	<string>https://weather-wizard-80410-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>